@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Developer @ViewData["Dev"]</p>

<address>
    <strong> View Profile:</strong> <a href="https://www.linkedin.com/in/paulo-muller-70309a71/">Linkedin</a>
</address>
